<div class="row">
    <img class="col-md-6"
        alt="River Ure"
        src="assets/Ure.jpg"
        style="margin-bottom: 16px;"
    />
    <div class="col-md-6">
        Boroughbridge & District Angling Club was formed in XXXX. It has a selection of waters, some being members only and some having day tickets available.
        <br/>
        <br/>
        This website provides an overview of the club waters, matches and rules for public consumption along with more detailed information available only to members.
    </div>
</div>

