<h1 [ngClass]="{'left-header': membersService.CurrentMember.admin}">{{this.title}}</h1>
<div *ngIf="membersService.CurrentMember.admin">
    <div class="edit-button-panel">
        <button class="edit-button" mat-raised-button color="primary" *ngIf="!isPageAdmin" (click)="enableAdmin(true)" ><mat-icon aria-hidden="false" aria-label="Unlock">lock_open</mat-icon> Unlock</button>
        <button class="edit-button" mat-raised-button color="primary" *ngIf="isPageAdmin" (click)="enableAdmin(false)" ><mat-icon aria-hidden="false" aria-label="Lock">lock</mat-icon> Lock</button>
    </div>
    <br/>
    <br/>
</div>
<br/>

<mat-card class="rules-card">
    <mat-card-content>
        <div [innerHTML]="rules.body" style="margin-left: 20px;"></div>
    </mat-card-content>
    <div *ngIf="isPageAdmin">
        <div class="edit-button-panel">
            <button class="edit-button" mat-stroked-button color="primary" (click)="editRules(rules)" ><mat-icon aria-hidden="false" aria-label="Edit General Rules">edit</mat-icon> Edit</button>        
        </div>
        <br/>
        <br/>
    </div>
</mat-card>
