<h2  mat-dialog-title>Preferences</h2>
<mat-dialog-content class="mat-typography">
    <br/>
    Are you are happy for your name to be used in match results, league standings etc. If not, you will appear as "Anonymous" instead. 
    <br/>
    <br/>
    <b>Note:</b> This will only ever be visible to other club members and never shared.
    <br/>
    <br/>
    <div class="checkbox-wrapper">
        <mat-checkbox [(ngModel)]="this.prefs.allowNameToBeUsed">&nbsp;Allow my name to be stored and used</mat-checkbox>
    </div>
    <mat-form-field>
        <mat-label>Email (optional)</mat-label>
        <input class="title-form-field" matInput [(ngModel)]="this.prefs.email">
    </mat-form-field>
    <br/>
    Your email will simplify PIN resets and may be used for important club notifications.
    <br/>
    <br/>
    You can change these anytime using "My Details" from the menu.
    <br/>
    <br/>
</mat-dialog-content>
<div mat-dialog-actions class="edit-button-panel">
    <button mat-raised-button color="primary" (click)="submit()">Save Preferences</button>
</div>
