<h1>Club Waters</h1>
<h3>PLEASE COMPLY WITH ALL NOTICE BOARDS</h3>
<p>
    Keep to all footpaths, do not wander from banks. All gates must be closed after being opened. Do not climb on walls. Do not cause a parking obstruction by blocking gateways etc.
</p>
<ul>
    <li *ngFor="let item of waters">
        <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{watersService.WaterType(item.type)}}</mat-card-subtitle>
                <mat-card-subtitle>{{watersService.AccessType(item.access)}}</mat-card-subtitle>
                <mat-card-subtitle>Main Species: {{item.species}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <br/>
                <div [innerHTML]="item.description"></div>
                <h3>Directions</h3>
                <div [innerHTML]="item.directions"></div>
                <br/>
                <a target="_blank" [href]="watersService.Directions(item)">Map of directions</a>
                <h3>Location</h3>
                <agm-map 
                    [scrollwheel]="false"     
                    [disableDefaultUI]="true"
                    [zoom]=14
                    [latitude]='watersService.Positions(item)[0].lat' 
                    [longitude]='watersService.Positions(item)[0].long'
                    >
                    <agm-map-type-control></agm-map-type-control> 
                    <agm-zoom-control></agm-zoom-control> 
                    <agm-fullscreen-control></agm-fullscreen-control> 

                    <!-- Note: I cannot get ngFor working hence using ngIf -->
                    <agm-marker [latitude]="item.lat[0]" [longitude]="item.long[0]">
                        <agm-info-window>Car park</agm-info-window>
                    </agm-marker>
                    <agm-marker *ngIf="item.lat.length > 1" [latitude]="item.lat[1]" [longitude]="item.long[1]">
                        <!-- <agm-info-window>Apron</agm-info-window> -->
                    </agm-marker>
                    <agm-marker *ngIf="item.lat.length > 2" [latitude]="item.lat[2]" [longitude]="item.long[2]">
                        <agm-info-window>Limit</agm-info-window>
                    </agm-marker>
                    <agm-marker *ngIf="item.lat.length > 3" [latitude]="item.lat[3]" [longitude]="item.long[3]">
                        <!-- <agm-info-window>Four</agm-info-window> -->
                    </agm-marker>
                    <agm-marker *ngIf="item.lat.length > 4" [latitude]="item.lat[4]" [longitude]="item.long[4]">
                        <!-- <agm-info-window>Five</agm-info-window> -->
                    </agm-marker>
                </agm-map>

            </mat-card-content>
        </mat-card>
    </li>
</ul>
