<h1>Club Waters</h1>

<ul>
    <li *ngFor="let item of waters">
        <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{watersService.WaterType(item.type)}}</mat-card-subtitle>
                <mat-card-subtitle>{{watersService.AccessType(item.access)}}</mat-card-subtitle>
                <mat-card-subtitle>Species: {{item.species}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h3>Description</h3>
                <div [innerHTML]="item.description"></div>
                <h3>Directions</h3>
                <div [innerHTML]="item.directions"></div>
                <h3>Location</h3>
                <agm-map [zoom]=12
                    [latitude]='item.lat' 
                    [longitude]='item.long'
                    >
                    
                        <agm-marker 
                            [latitude]="item.lat" 
                            [longitude]="item.long">    
                        </agm-marker>
                    
                    </agm-map>

            </mat-card-content>
        </mat-card>
    </li>
</ul>
