<h1>Club Waters</h1>
<h3>PLEASE COMPLY WITH ALL NOTICE BOARDS</h3>
<p>
    Keep to all footpaths, do not wander from banks. All gates must be closed after being opened. Do not climb on walls. Do not cause a parking obstruction by blocking gateways etc.
</p>
<ul>
    <li *ngFor="let item of waters">
        <mat-card class="news-card">
            <mat-card-header>
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.waterType}}</mat-card-subtitle>
                <mat-card-subtitle>{{item.accessType}}</mat-card-subtitle>
                <mat-card-subtitle>Main Species: {{item.species}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <br/>
                <div [innerHTML]="item.description"></div>
                <h3>Directions</h3>
                <div [innerHTML]="item.directions"></div>
                <br/>
                <a target="_blank" [href]="item.directionUrl">Map of directions</a>
                <h3>Location</h3>
                <table border="0">
                    <tr>
                        <td align="center">
                            <img width="20px" src='assets\car.png'>
                        </td>
                        <td style="width: 18px;"> </td>
                        <td *ngIf="item.path.length > 0" align="center">
                            <div style="display: inline; color: lightgreen; font-weight:900;"><b>_____</b><br/><br/></div>
                        </td>
                        <td style="width: 18px;"> </td>
                        <td *ngIf="item.hasLimits" align="center">
                            <img width="20px" src='assets\limit.png'>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            Car Parking
                        </td>
                        <td style="width: 18px;"> </td>
                        <td *ngIf="item.path.length > 0" align="center">
                            Route
                        </td>
                        <td style="width: 18px;"> </td>
                        <td *ngIf="item.hasLimits" align="center">
                            Limit of stretch
                        </td>
                    </tr>
                </table>
                <agm-map 
                    [mapTypeId]='$any(mapType)'
                    [scrollwheel]="false"     
                    [disableDefaultUI]="true"
                    [zoom]=14
                    [latitude]='item.destination.lat' 
                    [longitude]='item.destination.long'
                    >
                    <agm-map-type-control></agm-map-type-control> 
                    <agm-zoom-control></agm-zoom-control> 
                    <agm-fullscreen-control></agm-fullscreen-control> 

                    <agm-marker *ngFor="let marker of item.markers" 
                        [iconUrl]="marker.icon"    
                        [latitude]="marker.position.lat" 
                        [longitude]="marker.position.long">
                        <agm-info-window>{{marker.label}}</agm-info-window>
                    </agm-marker> -->
                    
                    <agm-polyline [strokeColor]="pathColour">
                        <agm-polyline-point *ngFor="let p of item.path" [latitude]="p.lat" [longitude]="p.long"></agm-polyline-point>
                    </agm-polyline>

                </agm-map>
                
            </mat-card-content>
        </mat-card>
    </li>
</ul>
