BOROUGHBRIDGE & DISTRICT ANGLING CLUB understands that its activities impact upon the environment and is committed to the following environmental policy:
<br/>
<br/>
<h2>Environmental Policy</h2>
Boroughbridge & District Angling Club will:
<ul>
    <li>Minimise the impacts of its usage on the natural and social environment through effective environmental management.</li>
    <li>Integrate environmental management into our club and its members.</li>
    <li>Review its environmental performance with members to establish continual improvement.</li>
    <li>Increase the environmental awareness of all its members.</li>
    <li>Establish systems for the prevention of pollution at all its fishing sites.</li>
    <li>Comply with all the environmental legislation, regulations and other requirements that are relevant to its activities.</li>
    <li>Report on its environmental performance to all interested parties.</li>
</ul>
<div style="align-items: center;">
    The Chairman and Committee of
    <br/>
    Boroughbridge & District Angling Club
</div>
