<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Chairman</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr G.Lumsden<br/>
        Tel: 01765 605520<br/>
        Mob: 07590 927451<br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Treasurer/Membership</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mr G.Tilburn<br/>
        19 St.Johns Walk, Kirby Hill, Boroughbridge<br/>
        Tel: 07713 980625<br/>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="news-card">
    <mat-card-header>
        <mat-card-title>Secretary</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Mrs C.Adcock<br/>
        Tel: 01423 323603<br/>
    </mat-card-content>
</mat-card>
