<table border="0" [cellPadding]="0" [cellSpacing]="0">
    <tr >
        <td>
            <img
                width="100px"
                alt="Angling Trust Logo"
                src="assets/Angling-Trust-logo.png"
            />
        </td>
        <td>
            The club is a member and proud supporter of the Angling Trust. They are a not for profit organisation, representing anglers, fighting for fish, fishing and the environment. <a target="_blank" href="https://anglingtrust.net/">You can find out more here</a>
        </td>
    </tr>
</table>
