<mat-card class="policy-card" >
    <mat-card-header>
        <mat-card-subtitle>Payment Data Policy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Boroughbridge & District Angling Club use the Stripe payment system for online purchases. This website (and its underlying database) does not collect or hold any data entered as part of a purchase.
        </p>
        <p>
            Stripe's own Terms and Privacy statements can be viewed once you enter the payment portal accessible from the "Buy now" button above.
        </p>
    </mat-card-content>
</mat-card>