/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap-grid.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.past-event {
    font-weight: lighter;
}

.mat-drawer {
    background-color:whitesmoke;
}

.mat-drawer-container {
    background-color:whitesmoke ;
}

.info {
    background-color: lightskyblue;
    border-color: darkslateblue;
    border-style: solid;
    border-width: thin;
    padding: 6px;
}

.warn {
    background-color: lightgoldenrodyellow;
    border-color: gold;
    border-style: solid;
    border-width: thin;
    padding: 6px;
}

.edit-button-panel {
    float: right;
  }
  
.edit-button {
    margin-left: 12px;
}
  
.left-header {
    float: left;
  }
  