<h1>Junior Trophies</h1>

<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>The Roecliffe Rose Bowl</mat-card-title>
        <mat-card-subtitle>Sponsored by Garry Tilburn</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Roecliffe Rose Bowl Angling Contest, organised by the Boroughbridge and District Angling 
            Club, is an exciting event open to all junior members. This angling match provides young anglers 
            with an opportunity to showcase their skills and compete for enticing prizes.
        </p>
        <p>
            The contest takes place in the picturesque setting of Roecliffe pond, a charming village located in 
            North Yorkshire, England. Known for its tranquil waterways and abundant fish population, 
            Roecliffe offers the perfect backdrop for a thrilling angling competition.
        </p>
        <p>
            Junior members of the Boroughbridge and District Angling Club, regardless of their level of 
            experience, are encouraged to participate in the contest. Whether they are seasoned anglers or 
            new to the sport, this event provides a platform for young enthusiasts to engage in friendly 
            competition and enhance their angling abilities.
        </p>
        <p>
            The Boroughbridge and District Angling Club places great emphasis on the conservation of fish 
            and the environment. Therefore, the contest follows strict guidelines and regulations to ensure the 
            ethical treatment of fish and the preservation of their habitats. Anglers are expected to adhere to 
            these guidelines to maintain the sustainability of the local fishing resources.
        </p>
        <p>
            This fabulous series is sponsored by Garry Tilburn, the club's membership secretary and treasurer, 
            who has been a dedicated member for over 50 years. His support and involvement in the event is 
            truly commendable.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Inter Shool Fishing Tournament</mat-card-title>
        <mat-card-subtitle>Sponsored by Ian's Floats</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Great news! Entry is now open for the highly anticipated inter-school fishing tournament at 
            Woodlands Lakes in Thirsk. This is an excellent opportunity for junior anglers from schools in the 
            North Yorkshire region to showcase their fishing skills and compete against other talented anglers.
        </p>
        <p>
            To enter your school's team in the tournament, please contact the Boroughbridge and District 
            Angling Club. They will provide you with all the necessary information and guide you through the 
            registration process. Don't miss out on this fantastic chance to be part of an exciting fishing event 
            and represent your school with pride.
        </p>
        <p>
            Whether your school has experienced anglers or students who are new to the sport, this 
            tournament welcomes everyone to participate and enjoy a day of fishing in the beautiful 
            surroundings of Woodlands Lakes. With the support and guidance of the organising committee 
            and sponsors, this event promises to be a memorable and fulfilling experience for all involved.
        </p>
        <p>
            Sponsored by Woodlands Fishery in Thirsk and Middy Tackle, the inter-school fishing tournament 
            organised by the Boroughbridge and District Angling Club promises to be an unforgettable event 
            for junior anglers in the North Yorkshire region. With the generous support of these esteemed 
            sponsors, the tournament aims to provide young anglers with a unique and rewarding experience.
        </p>
        <p>
            After an exciting day of fishing, all participants and their families can look forward to an awards 
            ceremony, where the top-performing teams will be recognised and celebrated. Prizes ranging 
            from fishing equipment to vouchers for fishing trips will be awarded to the winners, adding an 
            extra element of excitement and motivation to the tournament.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Festival</mat-card-title>
        <mat-card-subtitle>Sponsored by Highfield Car & Commercial</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Junior Fishing Festival organised by the Boroughbridge and District Angling Club and 
            sponsored by Highfield Car and Commercial sounds like a lot of fun. With prizes galore, the two day fishing competition is sure to be an exciting event for young fishing enthusiasts. The Ripon 
            Canal provides a beautiful setting for the festival, and it's a great opportunity for kids to showcase 
            their fishing skills and enjoy a memorable fishing experience
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior Champion</mat-card-title>
        <mat-card-subtitle>Sponsored by Richard & Shiela Potter</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club Junior Champion is an esteemed title awarded to 
            the angler who has accumulated the most points throughout the 2024 season. This prestigious 
            award is sponsored by Richard and Sheila Potter, dedicated friends and supporters of the club.
        </p>
        <p>
            Throughout the 2024 season, junior anglers participate in various events and competitions 
            organised by the club. These events take place in a range of fishing venues, including rivers, 
            lakes, and canals in the local area. Each angler earns points based on their performance in these 
            competitions.
        </p>
        <p>
            The sponsorship of the championship by Richard and Sheila Potter reflects their passion for 
            angling and their commitment to supporting the development of young anglers. Their generous 
            support allows the club to provide prizes and recognition for the Junior Champion, as well as 
            other incentives to encourage the participation of junior anglers.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Aggregate weight</mat-card-title>
        <mat-card-subtitle>Sponsored by Bren & Dave</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            One of the notable highlights of the club is the prestigious Aggregate Weight competition, which 
            takes place throughout the 2024 angling season. This competition aims to determine the highest 
            weight achieved by a junior angler over the course of the season. It serves as a platform to 
            encourage young anglers to showcase their skills and passion for the sport.
        </p>
        <p>
            The Aggregate Weight competition is made possible through the generous sponsorship of angler 
            Dave Crawford and his partner Bren Dawson. Dave Crawford, a seasoned angler with a wealth of 
            experience, has been an active member of the Boroughbridge & District Angling Club for many 
            years. Recognising the importance of supporting young talent and fostering a love for angling, 
            Dave and Bren have graciously sponsored the competition to encourage junior anglers to excel in 
            their pursuit of the sport.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>Junior & Senior Pairs</mat-card-title>
        <mat-card-subtitle>Sponsored by Crackerjack BBQ</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The Boroughbridge and District Angling Club is excited to announce its upcoming Junior and 
            Senior Pairs Competition. This unique event brings together junior and senior members of the 
            club to form teams and compete for the top prize. Sponsored by Crackerjack BBQ, the 
            competition promises a sizzling prize for the winning team.
        </p>
        <p>
            The event is not only about the thrill of competition but also about promoting a love for angling 
            among the younger generation. The junior members will have the opportunity to learn from the 
            senior anglers, gaining valuable insights and techniques that will enhance their fishing skills.
        </p>
    </mat-card-content>
</mat-card>
<br/>
<mat-card class="trophy-card">
    <mat-card-header>
        <mat-card-title>More to be added...</mat-card-title>
        <mat-card-subtitle>Sponsored by ...</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            The full list of trophies will appear here soon...
        </p>
    </mat-card-content>
</mat-card>
<br/>
